# Insert your domain and certificate resolver here.
DOMAIN=
CERTRESOLVER=
JWT_SECRET=
SESSION_SECRET=
ENCRYPTION_KEY=
# For example:
# DOMAIN=akanagala.com
# CERTRESOLVER=porkbun


       _.---._    /\\
    ./'       "--`\//
  ./              o \          .-----.
 /./\  )______   \__ \        ( help! )
./  / /\ \   | \ \  \ \       /`-----'
   / /  \ \  | |\ \  \7--- ooo ooo ooo ooo ooo ooo