{
    "settings": [
      {
        "provider": "",
        "domain": "",
        "host": "@",
        "api_key": "",
        "secret_api_key": ""
      },
      {
        "provider": "",
        "domain": "",
        "host": "*",
        "api_key": "",
        "secret_api_key": ""
      }                                                                                                                                                                                                                                                          
    ]                                                                                                                                                                                                                                                            
  }